.containerTotal {
  display: flex;
  flex-direction: column;

  justify-content: center;

  border-top: 1px solid rgb(206, 206, 206);
  background: #f5f5f5;
  border-radius: 0px 0px 5px 5px;
  gap: 10px;
  padding: 15px 10px 0px 10px;

  width: 87%;
}

.priceTotal {
  display: flex;
  justify-content: space-between;
}

.totalName {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  color: #333333;
}

.valuePrice {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  color: #828282;
}
.containerButton {
  height: 50px;
}
.buttonRemoveAll {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;

  width: 100%;
  height: 30px;

  background: #e0e0e0;
  border: 2px solid #e0e0e0;
  border-radius: 8px;

  font-size: 14px;
  line-height: 19px;
  color: #828282;
}

@media only screen and (min-width: 1025px) {
  .containerTotal {
    display: flex;
    flex-direction: column;
    border: 0;
    border-top: 1px solid rgb(206, 206, 206);
    background: #f5f5f5;
    border-radius: 0px 0px 0px 0px;

    padding: 15px 15px 0px 20px;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    width: 101%;
  }
}
