h2 {
  padding-top: 8px;
  color: #eb5757;
  font-size: 19px;
}

.theHeader {
  flex-direction: column;
  justify-content: space-between;
  width: auto;

  background: #f5f5f5;

  display: flex;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.containerTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
form {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 15px;

  width: auto;
  height: 60px;

  background: #ffffff;

  border: 2px solid #e0e0e0;
  border-radius: 8px;
}

form > input {
  width: 127px;
  height: 19px;
  outline: none;
  font-weight: 400;

  line-height: 19px;

  border: none;
  color: #b5b2b2;
}

form > button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 10px;

  width: 107px;
  height: 40px;

  background: #27ae60;

  border: 2px solid #27ae60;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 1025px) {
  .theHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-left: 83px;
    padding-right: 63px;
    padding-bottom: 10px;
  }
  .input {
    width: 170px;
  }
}
